/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 
 /*topページ*/
.top-title{
   margin-left: 30px;
 }
 
.top-text{
  margin: 50px;
}

.start{
  margin: 50px;
}

/*indexページ*/
.index-notice{
  margin-left:50px;
  color: green;
}

.index-top{
  margin-left:30px;
}

table{
  margin-left:35px;
  border-spacing: 10px
}

.new-top{
  margin-left: 35px;
}

.new-form{
  margin-left:35px;
}

.new-title{
  line-height: 0;
}

.new-body{
  line-height: 0;
  margin-bottom: 15px;
}

/*crate-error表示*/
.errors{
  margin-left: 35px;
  width:600px;
  height: 200px;
  border:1px solid red;
  background-color: whitesmoke;
}

.error-title{
  color:white;
  background-color: crimson;
  padding-left: 15px;
  line-height: 35px;
}

/*showページ*/
.show-notice{
  margin-left:50px;
  color: green;
}


.show-title{
  display: flex;
  align-items:baseline;
  margin:25px 50px;
  gap:10px;
}

.show-body{
  display: flex;
  align-items:baseline;
  margin:25px 50px;
  gap:10px;
}

.show-link{
  margin-left:25px;
  display: flex;
  align-items:baseline;
  gap:10px;
}

/*Editページ*/
.edit-notice{
  margin-left:30px;
  color: green;
}

.edit-all{
  margin-left:30px;
}

.edit-top{
  margin:25px 0;
}

.edit-title{
  margin:30px 0;
  line-height: 0;
}

.edit-body{
  margin:30px 0;
  line-height: 0;
}

.edit-link{
  display: flex;
  align-items:baseline;
  gap:10px;
}


/*update-error表示*/
.edit-errors{
  width:600px;
  height: 200px;
  border:1px solid red;
  background-color: whitesmoke;
}

.edit-error-title{
  color:white;
  background-color: crimson;
  padding-left: 15px;
  line-height: 35px;
}