/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 /*topページ*/
.top-text{
  margin: 30px;
}

.top-start{
  margin: 30px;
}

/*indexページ*/
.index-top{
  margin-left:30px;
}

table{
  margin-left:35px;
  border-spacing: 10px
}

.new-top{
  margin-left: 35px;
}

.new-form{
  margin-left:35px;
}

/*showページ*/
.show-title{
  display: flex;
  align-items:baseline;
  margin:25px 50px;
  gap:10px;
}

.show-body{
  display: flex;
  align-items:baseline;
  margin:25px 50px;
  gap:10px;
}

.show-link{
  margin-left:25px;
  display: flex;
  align-items:baseline;
  gap:10px;
}